  <mat-toolbar color="primary">
    <mat-menu #appMenu="matMenu">
      <div mat-menu-item [matMenuTriggerFor]="appCat">קטגוריות</div>
    </mat-menu>
    <mat-menu #appCat="matMenu" class="float-right">
      <div *ngFor="let category of categories">
        <button  mat-menu-item (click)="orderByCategory(category, data)" class="text-right">
          {{ category }}
        </button>
      </div>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>sort</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-button (click)="refresh()">חדשות</button>
    <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav" position="end" [fixedInViewport]="true" [fixedTopGap]="50" flex-layout="50">
      <mat-list class="list-nav">
        <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.split('.')[0]); sidenav.close()">
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/' + source + '.png)'}" class="example-header-image"></div>
          <span class="source-name p-3"> {{ source.split(".")[0] }}</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <app-news-articles [newsArticles]="newsArticles" [flag]="flag" [comments]="comments"></app-news-articles>
    <div #endArticles (scroll)="onScroll($event)"></div>
  </mat-sidenav-container>
